<!DOCTYPE html>
<html>

<head>
  <title>Golf Page</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>


<body>
  <h1>Golf Page</h1>
  <div class="header">
    <div class="left-header">
      <%= link_to 'Home', root_path, class: 'btn-secondary' %>
    </div>
    <div class="right-header">
      <%= link_to 'goal', new_target_path, class: 'btn-goal' %>
      <%= link_to 'score', new_round_path, class: 'btn-score' %>
      <%= link_to 'record', new_record_path, class: 'btn-record' %>
    </div>
  </div>

  <div class= "golf-index">
    <div class= "golf-box">
      <!-- 目標スコア表示部分 -->
      <div>
        <h2>目標スコア</h2>
          <% if @target.present? %>
            <div class="target-score">
              <div><%= @target.target_score %></div>
              <div><%= @target.deadline %></div>
            </div>
          <% else %>
            <p>目標スコアが設定されていません。</p>
          <% end %>
      </div>

      <!-- ベストスコア表示部分 -->
      <div>
        <h2>ベストスコア</h2>

      </div>

      <!-- 練習日記表示部分 -->
      <div>
        <h2>練習記録</h2>
        <% if @records.any? %>
          <% @records.each do |record| %>
            <div> 
              <p><%= record.created_at.strftime('%Y-%m-%d %H:%M') %></p>
              <p><%= record.record_memo %></p> 
            </div> 
          <% end %> 
        <% else %> 
          <p>練習日記がありません。</p>
        <% end %>  
      </div> 
    </div>
  </div>

</body>
</html>