<%= render "shared/header" %>

<div class='main'>
  <div class="top-logo-container">
    <%= image_tag "top-logo.png", class: "top-logo" %>
  </div>

  <div class='select-reason-contents'>
    <div class="category-header">
      <h2 class='title'>category</h2>
    </div>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to golfs_path, class:"golf-top" do%>
         <%= image_tag "golf.png", class:"list-pict" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to knittings_path, class:"knitting-top" do%>
          <%= image_tag "knitting.png", class:"list-pict" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to books_path, class:"book-top" do%>
          <%= image_tag "book.png", class:"list-pict" %>
        <% end %>
      </li>
    </ul>
  </div>

</div>
<%= render "shared/footer" %>