<%= render "shared/header" %>
<div class='main'>

  <div class='select-reason-contents'>
    <h2 class='title'>
      category
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= link_to golfs_path, class:"golf-top" do%>
         <%= image_tag "golf.png", class:"list-pict" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to "#", class:"knitting-top" do%>
          <%= image_tag "knitting.png", class:"list-pict" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to "#", class:"fishing-top" do%>
          <%= image_tag "fisshing.png", class:"list-pict" %>
        <% end %>
      </li>
    </ul>
  </div>

</div>
<%= render "shared/footer" %>